services:
  api:
    build: .
    container_name: idfy-api
    volumes:
      - .:/app/
    ports:
      - '4000:4000'
    env_file:
      - .env
    depends_on:
      - postgres
    restart: unless-stopped
    command: sh -c "npm run start:dev"

  postgres:
    image: postgres:16
    container_name: idfy-database
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:
